/* CSS Bootstrap custom style for course */
/* 2019 Roy Francis */

/* define font */
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro:300,400,600|Ubuntu+Mono&subset=latin-ext');

:root {
  --color-primary: #4b6584;
  --color-border: #ccc;
  --color-text: #1A1A1A;
  --color-code-bg: #f9f9f9;
  --color-code-inline: #d72b3f;
  --font-base: 'Source Sans Pro';
  --font-highlight: 'Source Sans Pro';
  --font-code: 'Ubuntu Mono';
}

/* body font */
/* body font family */
body,p,h1,h2,h3,h4,h5,h6 { 
  font-family: var(--font-base, 'Roboto', 'DIN', 'Helvetica', sans-serif);
  color: var(--color-text);
  font-weight: 400;
  font-size: 17px;
}

/* title font family, weight and size */
h1,h2 { 
  font-family: var(--font-highlight, 'Roboto', 'DIN', 'Helvetica', sans-serif);
  color: var(--color-text);
  font-weight: 600;
}

h1 {
  font-size: 1.802em;
  margin-top: 0.9em;
  margin-bottom: 0.8em;
}

h2 {
  font-size: 1.602em;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 1.424em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.266em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

h5 {
  font-size: 1.266em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

h6 {
  font-size: 1.125em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

/* code style */
pre {
  font-family: var(--font-code,"Menlo","Monaco", "Consolas","Liberation Mono", "Courier New", monospace);
  background-color: var(--color-code-bg);
  border: 1px solid var(--color-border);
  font-size: 16px;
}
code {
  font-family: var(--font-code,"Menlo","Monaco", "Consolas","Liberation Mono", "Courier New", monospace);
  font-size: 16px;
}

/* report title style */
.title {
  margin-top: 25px;
  margin-bottom: 5px;
  margin-right: 70px;
  font-size: 1.9em;
}

/* report subtitle style */
.subtitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.7em;
}

/* report author style */
.author {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

/* report date style */
.date {
  margin-top: 0;
  margin-bottom: 10px;
}

/* new font size classes */
.largest { font-size: 2.488em; }
.larger { font-size: 2.074em; }
.large { font-size: 1.44em;}
.small { font-size: 0.833em; }
.smaller { font-size: 0.694em; }
.smallest{ font-size: 0.579em; }

blockquote {
  border-left: 5px solid var(--color-primary);
  background: var(--color-code-bg);
  padding: 10px;
  padding-left: 12px;
  margin-left: 16px;
  margin-right: 0;
  border-radius: 0px 4px 4px 0px;
}

/* abstract paragraph style */
.abstract {
    line-height: 170%;
}

/* div styles --------------------------------------------------------------- */

/** div style for instrauctions **/
.instruction {
 font-size: 18px;
 border: 1px solid var(--color-primary);
 border-left: 6px solid var(--color-primary);
 border-radius: 4px 4px 4px 4px;
 padding: 10px 10px 0px 10px;
 margin: 20px 0px 10px 0px;
}

.optional {
 border: 1px solid #EF7C00;
 border-left: 6px solid #EF7C00;
 border-radius: 4px 4px 4px 4px;
 padding: 10px 10px 0px 10px;
 margin: 20px 0px 10px 0px;
}

/* IMAGES ------------------------------------------------------------------- */

/* image styling */
img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.fancyimage {
  box-shadow: 1px 1px 5px grey;
  border-radius: 2px;
}

.trlogo {
  position:absolute;
  height:50px;
  /*top:2.5em; with code folding*/
  top:1em;
  right:0;
  padding-right:40px;
  margin-top:7px;
}

.figure {
 margin-bottom: 12px; 
}

/* Buttons and Links -------------------------------------------------------- */
/* link colour: scilife */
a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* floating bar highlight */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  background-color: var(--color-primary);
  border-color: var(--border-color);
}

/* table even shading colour */
.even {
    background-color: var(--color-code-bg);
}

/* hover effect footer icons */
.footericon:hover {
  opacity: 10;
}

button.btn-collapse {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

button.btn-collapse-normal {
  color: white;
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

button.btn-collapse-normal:hover {
    background-color: white;
    color: var(--color-primary);
    border-color: white;
    box-shadow: 0px 3px 40px -9px var(--color-primary);
    -webkit-box-shadow: 0px 3px 40px -9px var(--color-primary);
    -moz-box-shadow: 0px 3px 40px -9px var(--color-primary);
}

button.btn-collapse-optional {
  color: white;
  border-color: #EF7C00;
  background-color: #EF7C00;
}

button.btn-collapse-optional:hover {
    background-color: white;
    color: #EF7C00;
    border-color: white;
    box-shadow: 0px 3px 30px -9px #EF7C00;
    -webkit-box-shadow: 0px 3px 30px -9px #EF7C00;
    -moz-box-shadow: 0px 3px 30px -9px #EF7C00;
}

button.btn-accordion.collapsed:before
{
    content: '+' ;
    display: block;
    width: 15px;
    font-size: 120%;
    font-weight: bold;
}

button.btn-accordion:before
{
    content: '-' ;
    display: block;
    width: 15px;
    font-size: 120%;
    font-weight: bold;
}

/* code folding button properties */
.code-folding-btn {
  margin-bottom: 4px;
  margin-top: 4px;
  margin-right: -15px;
}

/** top title code **/
div.block-title {
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color-border);
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 2px 2px 2px 10px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

/* pkgdown navbar */

.navbar-default {
    background-color: var(--color-primary);
    border-color: transparent;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > .active > a{
    color: white;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-link > .active > a:hover,
.navbar .navbar-link > .active > a:focus {
    color: lightgray;
}

body {
  line-height: 1.6;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
