export(clumppExportStructure)
export(clumppExportTess)
export(collectClumppOutput)
export(collectRunsTess)
export(determineRowsAndCols)
export(ellipseCI)
export(evannoMethodStructure)
export(getColours)
export(getDim)
export(getPlotParams)
export(llToUtmzone)
export(plotMultiline)
export(plotRuns)
export(plotRunsInterpolate)
export(plotRunsSpatial)
export(runsToDfStructure)
export(runsToDfTess)
export(summariseRunsStructure)
export(summariseRunsTess)
export(tabulateRunsStructure)
export(tabulateRunsTess)
