export(clumppExportStructure)
export(clumppExportTess)
export(collectClumppOutput)
export(collectRunsTess)
export(evannoMethodStructure)
export(plotMultiline)
export(plotRuns)
export(runsToDfStructure)
export(runsToDfTess)
export(summariseRunsStructure)
export(tabulateRunsStructure)
export(tabulateRunsTess)
